* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ef4e4e;
    color: #5d3131;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    color: #222;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

a {
    color: #382546;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    display: block;
    margin-top: 10px;
    border-radius: 8px;
}